body {font-family: Roboto, sans-serif;
color: #434455;
background-color: #FFFFFF;}


/* global */
h2 {font-weight: 700;}

h3 {font-weight: 500;}

ul, ol {list-style-type: none;
margin: 0;
padding: 0;}

a {text-decoration: none;}

h1,h2,h3,h4,h5,h6, p {margin: 0;}

img {display: block;}

* {box-sizing: border-box;}


.container {
max-width: 1158px;  
margin: 0 auto; 
padding: 0 15px;
}

                                   /* header */
/* logo */

.header-border {border-bottom: 1px solid#e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container-two{
display: flex;
justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 76px;
    justify-content: start;
}

.logo-header {font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.03em;
color: #4D5AE5;
width: 115px;
margin-right: 76px;
margin-top: 24px;
margin-bottom: 24px;
}
.logo-left-header {color: #2E2F42}

/* nav.menu */

.nav-menu-list {
width: 261px;
display: flex;
gap: 40px;    
}

.nav-menu-a{
color: #2E2F42;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.nav-menu-a:hover {color: #404BBF;}
.nav-menu-a:focus {color: #404bbf;}
.nav-menu-a:active {color: #404BBF;}

.nav-menu-a-undrline {position: relative;
color: #404bbf;}

.nav-menu-a-undrline::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: #404BBF;
display: block;
}

.nav-menu-a-undrline:hover::after {color: #404BBF;}



/* contacts */

.address-menu-list {display: flex;
gap: 40px;
margin-top: 24px;
margin-bottom: 24px;
}

.address {font-style: normal;
    display: flex;
    margin-left: auto;
}

.contacts-a {color: #434455;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
font-style: normal;
letter-spacing: 0.02em;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-a:hover {color: #404BBF;}
.contacts-a:focus{color: #404BBF;}

                                                              /* main */
/* =============== section hero img =============== */

.section-hero-img {
max-width: 1440px;
height: 600px;
background-color: #2E2F42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover; 
background-clip: padding-box;
}

.h-one {font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
max-width: 496px;
padding-top: 188px; 
margin: 0 auto;
}
.hero-button {
color: #FFFFFF;
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
cursor: pointer;
display: block;
margin: 0 auto;
margin-top: 48px;
margin-bottom: 188px;
min-width: 169px;
border: 0;
border-radius: 4px;
padding: 16px 32px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover{background-color: #404BBF;}
.hero-button:focus{background-color: #404BBF;}

/* =============== section features =============== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
}

.section-features{padding-top: 120px;
padding-bottom: 120px;}

.features-list-item{display: flex;
gap: 24px;
}

.list-card-icon {display: flex;
justify-content: center;
align-items: center;
height: 112px;
background-color: #f4f4fd;
border: 1px solid #8e8f99;
border-radius: 4px;
margin-bottom: 8px;
}

.list-card {width: calc((100% - 24px * 3) / 4);}

.features-list-icons{width: 100%;}

.h-three {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.h-three-features-margin {margin-bottom: 8px;}

.section-features-p {font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.section-features li {list-style-type: none;}

/* =============== section our team =============== */

.section-our-team {background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;}

.our-taem-list {display: flex;
gap: 24px;
}

.our-taem-list .section-our-team-li {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);}

.section-our-team-li { background-color: #FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0 0 4px 4px;
}

.img-margin{margin-bottom: 32px;}

.our-team-container{padding: 32px 0;}

.our-taem-list-container {
display: flex;
justify-content: center;
gap: 24px;}

.social-link-item {width: 40px;
height: 40px;}

.social-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-style{fill: #f4f4fd;}

.social-link-icon:hover,
.social-link-icon:focus {
    background-color: #404BBF;
}

.h-three-our-team-margin{margin-bottom: 8px;
text-align: center;
}
.p-our-team-margin {
text-align: center;
margin-bottom: 8px;}

.section-our-team-h-two{
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;}

/* card one h3+p styles from section2 */

/* card two h3+p styles from section2 */

/* card three h3+p styles from section2 */

/* card four h3+p styles from section2 */

    /* =============== section our portfolio =============== */

.section-our-portfolio{padding-top: 120px;
padding-bottom: 120px;}

.section-our-portfolio-h-two {
/* font-weight: 700; */
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-top: 120px;
margin-bottom: 72px;}

.portfolio-list{display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.relative {position: relative;
overflow: hidden;}

.portfolio-list-item-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #4D5AE5;
overflow: auto;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {padding: 40px 32px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;}

.portfolio-list-item:hover .portfolio-list-item-overlay{transform: translateY(0)}

.portfolio-list-item {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-container {border: 1px solid rgb(231, 233, 252);
    border-top: none;
    padding: 32px 16px;
    }

.portfolio-h-three-margin{margin-bottom: 8px;}

/* banking app h3+p from section 2*/

/* .bank-app h3{font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
} */
/* .bank-app p {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} */

/* cashless p */

/* .cashless-p h3{font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;} */

/* .cashless-p p{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;} */

    /* meditation app */

/* .meditation-app h3 {font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;} */

/* .meditation-app p {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;} */

    /* taxi service */

/* .taxi-service h3{font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;}
     */

/* .taxi-service p{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;} */

/* screen ill */

/* .screen-ill h3{font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;} */

/* .screen-ill p{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;} */

/* online courses */

/* .online-courses h3{ont-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;} */

/* .online-courses p {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;} */

                                            /* footer */
/* footer style */

.footer {background-color: #2E2F42;
padding-top: 100px;
padding-bottom: 100px;
}

.footer-p {font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
margin-top: 16px;
max-width: 264px;}

.footer-align {display: flex;
align-items: baseline;}

.margin {margin-right: 120px;}

.footer-p-two {font-weight: 500;font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;}

.footer-social-links {
display: flex;
gap: 16px;
}

.social-link-icon-footer-one {
    width: 100%;
    height: 100%;}

.social-link-icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.svg-fill {fill: #f4f4fd;}

.social-link-icon-footer:hover {background-color: #31D0AA;}
.social-link-icon-footer:focus {background-color: #31D0AA;}

/* logo */

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
color: #4D5AE5;
display: inline-block;
margin-bottom: 16px;
}

.logo-left {color: #f4f4fd;}
